<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDIT SHORTLINK</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('../header.ejs') %>
      <form class="input-section" id="input-section" action="/edit/<%=shortLink.id%>" method="POST">
        <div class="input-field">
          <input
            id="longurl"
            type="url"
            name="longurl"
            value="<%=shortLink.longurl%>"
            placeholder="Shorten a link here..."
            required
          />
          <span class="clear-btn" id="clear-optional">×</span>
        </div>
        <div class="input-field">
          <input
            type="text"
            name="shortcode"
            value="<%=shortLink.shortcode%>"
            placeholder="What you want....."
          />
        </div>
         <% if(errors && errors.length>0) { %> 
        <p class="error-msg"><%=errors%></p>
         <%}%>
        <button class="shorten-btn" type="submit">Edit</button>
        <p class="alert">Please add a link</p>
      </form>
      <%- include('../footer.ejs') %>
    </div>
  </body>
</html>
